# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2D_INT_Grade_5_Hindi_संज्ञा_के_भेद.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
